body {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto Condensed";
    font-size: 13px;
    width: 100%;
    height: 100%;
    background: white;
}

div.page {
    position: relative;
    background: white;
    width: 960px;
    min-height: 800px;
    margin: 0px auto;
}

h1 {
    font-size: 1.308em;
    color: #79a618;
}

ul.comments {
    padding: 0px;
    border-top: 1px solid #ddd;
}


li.comment {
    font-size: 1.154em;
    list-style: none;
    line-height: 58px;
    height: 58px;
    border: 1px solid #ddd;
    border-top: 0;
}

ul.comments li.comment span {
    height: 58px;
    float: left;
}


li.comment span.date {
    width: 160px;
    padding-left: 18px;
    border-right: 1px solid #ddd;
}
li.comment span.name {
    width: 655px;
    padding-left: 30px;
}
li.comment span.message {
    color: #fff;
    display: none;
    padding-left: 30px;
}
li.comment.on {
    background-color: #79a618;
}
